.a {
  height: 70vh;
  display: flex;
  align-items: center;

  @media screen and (max-width: 480px) {
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
  }
}

.a-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;

  @media screen and (max-width: 480px) {
    width: 100%;
  }
}

.a-right {
  flex: 1;
  padding: 20px;

  @media screen and (max-width: 480px) {
    width: 100%;
    padding: 10px;
  }
}

.a-card {
  width: 70%;
  height: 50%;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  background-color: #333; /* Added background color */

  @media screen and (max-width: 480px) {
    width: 80%; /* Adjusted width for smaller screens */
    height: 30vh;
  }
}
.a-card.bg {
  position: absolute;
  top: 280px;
  left: 50px;
  background-color: #333;

  @media screen and (max-width: 480px) {
    display: none;
  }
}

.a-img {
  height: 100%;
  width: 100%;
  position: relative;
}

.a-title {
  font-weight: 400;
  color: #fff; /* Added text color */
}

.a-sub {
  margin: 20px 0px;
  color: #09e288;
}

.a-desc {
  font-weight: 300;
  color: white;
}
