h1 {
    font-size: 60px;
    margin: 10px 0;
    color: white;
}

h2 {
    font-size: 35px;
    color: white;
}

h3 {
    font-size: 30px;
    color: white;

    span {
        font-size: inherit;
        color: #09e288;
    }
}

.hero-photo {
    width: 68%;
    border-radius: 20px;
    margin-right: 1rem;
}

.hero {
    width: 100%;
    margin-top: 0;
}